html, body {
    height: 100%;
}

/* WRAP */
/*-------------------------------------------------------*/
.pp-wrap{
    background-image: url('/images/playpay/background-min.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -44px;
    padding: 0px;
    padding-top: 60px;
}

/* NAV */
.pp-nav{
    background-color: white;
    opacity: 0.91;
}
.pp-nav-container{
    height: 104px;
}
.pp-nav-container button{

}
.pp-nav-block{
    position: absolute;
    top: 50px;
    right: 30px;
    background-color: white;
    border-radius: 3px;
    opacity: 0.80;
}
.pp-nav-ul li:last-child{
    padding-right: 10px;
}

.navbar-default .navbar-nav > li > a {
    font-size: 24px;
    font-family: "Verdana", serif;
    color: #2A2A29;
    line-height: 1.015;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: white;
    color: black;
}


/* MAIN  CONTAINER */
/*-------------------------------------------------------*/
.pp-container{
    height: 100%;
}
.pp-table{
    display: table;
    height: 100vh;
    width: 100%;
    padding-top: 120px;
    margin-top: -130px;
    padding-bottom: 80px;
    margin-bottom: -20px;
}
.pp-table-cell{
    display: table-cell;
    vertical-align: middle;
}

/* Course Currency */
.course-index, .currency-index, .exchange-index{
    background-color: white;
    padding: 10px;
    opacity: 0.90;
}





/* FORM */
.pp-table form{
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 151, 168, 196 );
    border-radius: 9px;
    background-color: rgba( 255, 255, 255, 0.78);
    padding: 20px;
}
.pp-table h3 {
    font-size: 24px;
    font-family: "Verdana", serif;
    color: rgb( 51, 51, 51 );
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}
.pp-form-img{
    min-height: 100px;
}
.pp-table .pp-form-currency img{
    margin-bottom: 30px;
    margin-top: 20px;
}
.pp-table form input{
    font-size: 18px;
    font-family: "Verdana", serif;
    color: rgb( 51, 51, 38 );
    text-align: right;
    border-radius: 0px;
}
.pp-table form label {
    font-size: 18px;
    font-family: "Verdana", serif;
    color: rgb( 51, 51, 38 );
    font-weight: normal;
}

/* revers */
.pp-form-revers{
    padding-top: 90px;
}
.pp-form-revers button{
    padding: 10px;
    background-color: transparent;
    border: none;
}
/* currency */
.pp-form-currency{
    margin-bottom: 30px;
}
.pp-form-currency a{
    margin-right: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 2px 4px;
    border-color: rgb( 170, 180, 190 );
    background-color: rgb( 255, 255, 255 );
    font-family: "Verdana", serif;
    text-transform: uppercase;
    text-decoration: none;
}

.pp-form-currency-active {
    background-color: rgb( 255, 238, 156 ) !important;
}

/*  button */
.pp-form-submit button{
    border-radius: 8px;
    background-color: rgb( 51, 116, 224 );
    box-shadow: 0px 0px 5px 0px rgb( 0, 0, 0 );
    width: 280px;
    height: 62px;
    font-size: 28px;
    font-family: "Verdana", serif;
    color: rgb( 255, 255, 255 );
    border: none;
}
.pp-form-submit button img{
    padding-right: 10px;
}
.pp-form-course {
    font-size: 18px;
    font-family: "Verdana", serif;
    color: rgb( 51, 51, 38 );
    margin-bottom: 0px;
}
.pp-form-commission {
    font-size: 14px;
    font-family: "Verdana", serif;
    color: rgba( 51, 51, 38, 0.859);
}




/* FOOTER */
/*-------------------------------------------------------*/
.pp-footer{
    background-color: rgb( 65, 65, 65 );
    font-size: 14.002px;
    font-family: "Verdana", serif;
    color: rgb( 255, 255, 255 );
    line-height: 1.741;
    opacity: 0.8;
    height: 44px;
    border-top: none;
    padding-top: 10px;
}

