#Заборонити доступ до файла .htaccess у випадку, якщо це дозволено на сервері
RewriteRule .htaccess - [F]

# включаємо настройку правил
RewriteEngine On
# якщо запит в корневому каталогу то переправляємо на файл: index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]
#RewriteRule ^(.*)$ index.php/$1 [L]
#RewriteRule ^(.*)$ /index.php?$1 [L,QSA]

# Забороняємо перегляд вмісту папок
Options All -Indexes